<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    <ul>
        <li>
            <h1>Estudio 1</h1> - <h3>(years)</h3>
        </li>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo suscipit odit vel dolorem explicabo iusto, ad nisi? Error modi dignissimos culpa dolorum tempore corrupti mollitia, consequatur voluptatum maxime minima fugit!
        </p>
    </ul>
    ><ul>
        <li>
            <h1>Estudio 2</h1> - <h3>(years)</h3>
        </li>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo suscipit odit vel dolorem explicabo iusto, ad nisi? Error modi dignissimos culpa dolorum tempore corrupti mollitia, consequatur voluptatum maxime minima fugit!
        </p>
    </ul>
</div>

</div>
